html {
    width: 100%;
    height: 100%;
    Background-color: #696969;
}

body {
    margin: 0;
    Background-color: #696969;

}

.navbar{
    margin-bottom:0px;
    width: 100%;

}

.container-fluid{

    padding-left:0;
    padding-right:0;
}

.navbar-header{
    padding-left:15px;
}

.intro {
    display: block;
    margin: auto;
    box-sizing: border-box;
    text-align: center;
    background-color: #6811ff;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 300px;
    border-bottom-right-radius: 300px;

}

.intro p{
    margin-bottom:0;
    color:pink;
}

.nobody {
    margin: auto;
    text-align: center;
    box-sizing: border-box;

}
.jumbotron {
    background-image: linear-gradient(rgba(73, 73, 73, 0.6), rgba(73, 73, 73, 0.6)), url("../img/diablo.jpg");
    background-size: cover;
    padding:28rem 10rem;

}

